:root{
    --title-color: #212121;
    --text-color: #757575;
    --text-light-color: #ffffff;
    --nav-color: #212121;
    --logo-header-color: #000000;
    --logo-footer-color: #ffffff;
    --accent-color: #2196F3;
    --background-dark-color: #2F303A;
    --background-light-color: #F5F4FA;
    --background-white-color: #ffffff;
    --footer-color: #ffffff;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
}

body{
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    background-color: var(--background-white-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn{
    cursor: pointer;
    font-family:inherit;
    border-radius: 4px;
    border: none;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* -----------------------------HEADER------------------------------ */

.header, .nav-list{
    display: flex;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo{
    color: var(--logo-header-color);
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
    margin-right: 50px;
}

.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
}

.nav-link.current, .nav-link:hover, .nav-link:focus,
.header-contact:hover, .header-contact:focus{
    color: var(--accent-color);
}

/* --------------------------------HERO--------------------------------- */

.hero {
    background-color: var(--background-dark-color);
    padding: 200px 0;
    text-align: center;
    /* display: flex; */
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-light-color);
    margin: 0 auto 30px;
    max-width: 696px;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-color);
    color: var(--text-light-color);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 200px;
}

/* -----------------------------FEATURES------------------------------ */
.features{
    padding: 94px 0;
}

.features-list{
    display: flex;
}

.features-list-item:not(:last-child){
    margin-right: 30px;
    max-width: 270px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.features-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* ----------------------------ACTIVITIES------------------------------- */

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.activities-list{
    display: flex;
}

/* -------------------------------TEAM------------------------------- */

.team{
    background-color: var(--background-light-color);
}

.team-list-item{
    background-color: var(--background-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
}

.team-list-title{
    font-weight: 500;
    color: var(--title-color);
}

/* ----------------------------FOOTER----------------------------- */

.footer{
    background-color: var(--background-dark-color);
    color: var(--footer-color);
}

.footer-logo{
    color: var(--logo-footer-color);
}

.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-link{
    color: var(--footer-link-color);
}

.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}
/* --------------------------PORTFOLIO--------------------------- */

.portfolio-btn{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--background-light-color);
    color: var(--title-color);
}

.portfolio-btn:hover, .portfolio-btn:focus{
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--text-light-color);
}

.portfolio-list-item{
    background-color: var(--background-white-color);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.portfolio-list-item:hover {
    border: 1px solid var(--accent-color);
}

.portfolio-item-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-item-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}